:host {
    position: relative;
}
  
#content{
    top:1.5rem;
    left:1rem;
    position: absolute;
    background-color: #000;
    color: #fff;
    width: 8rem;
    border-radius: 3px;
    padding: 0.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.26);
}

#quote-mark{
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    margin-left: 0.5rem;
    padding: 0.15rem 0.45rem;
    cursor:pointer;
}